---
const { title, description } = Astro.props;
---

<>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png" />
    <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" />
    <link rel="icon" href="/favicon.ico" type="image/x-icon" />

    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
</>
